[2016-10-17 10:38] dragos opened #1 "Don't report errors/warnings on non-project files"
Ensime reports errors on files open via hyperlinking, even when those come from jars.

[2016-10-24 18:57] dragos opened #2 "Shutdown sometimes leaves lock files in ensime_cache"
It looks like the shutdown sequence isn't correct. We need to make sure every thread cleans up.

[2016-10-24 18:58] dragos opened #3 "Create a supervising actor for ProjectActor"
The Ensime `ProjectActor` may crash (see #2) and the only trace we get is something in the logs. We need proper parental supervision to incercept and maybe respawn.

[2016-10-24 20:33] #3 closed

[2016-10-29 16:25] dragos opened #4 "Implement incremental document updates"

[2016-10-29 16:27] dragos opened #5 "Implement faster offset/(line,col) conversions"
Some call it prefix-sums. Store an array of indexes of the first char of each line for a given file. Use binary search to find the line given an offset. Similarly, use them to get constant-time (line,col)->offset.

[2016-11-01 14:35] dragos opened #6 "Re-route stdout so compiler output/logs don't interfere with the LSP"
The compiler may spit out things on stdout, but stdout is for the language server protocol. VSCode can get de-synced if anything NOT message like is written to stdout.

We should just replace the stdout with another stream, and use stdout exclusively for protocol messages.

[2016-11-05 18:24] #6 closed

[2016-11-05 18:29] dragos commented on #2
See ensime/ensime-server#1640

[2016-11-06 17:04] dragos opened #10 "Watch for .ensime file changes"
Currently the plugin attempts to read `.ensime` and fail if it's not there. It never tries again.

We should watch the filesystem for .ensime changes and restart the PC when we detect it. The LSP as support for that, so it should be a low-hanging fruit.

[2016-11-06 17:09] dragos opened #11 "Cleanup/re-organize code"
There are a lot of case classes everywhere and a lot of conversion between Scala compiler, Ensime and VS Code data structures (files, positions, errors).

We should be consistent. All conversions should be implemented using a "decorator" pattern. For example, for the type `Note` (ensime type for compiler errors/warnings) We'd have:

[code]

Also, the "Request" and "Command" are used sometimes inco

[2016-11-07 09:10] jc776 opened #12 "Classpath should use 'path.delimiter' (for Windows)"
On Windows, PATH and java -cp use a semicolon instead of a colon.
extension.ts: `"-cp", toolsJar + ":" + assemblyPath` should be `"-cp", toolsJar + path.delimiter + assemblyPath`.
(Unless you're doing the 'without tools.jar' version on ensime-vscode gitter)

I was able to get this running (before recent changes) with that change and unrelated changes to package.json/json-rpc, I'll try it with the

[2016-11-07 09:42] dragos commented on #12
great, thanks!

[2016-11-07 19:41] #12 closed

[2016-11-27 19:08] #1 closed

[2016-12-09 14:28] dragos opened #16 "NPE when opening file without a .ensime"
If there's no `.ensime` there's no Ensime actor:

[code]

[2017-02-04 05:39] UserRandom opened #17 "Extension Marketplace"
Are you planning on publishing this extension to the VSCode extension marketplace? It is sorely lacking a useful Scala extension. In addition, publishing it may serve to generate additional contributors.

[2017-02-04 11:46] dragos commented on #17
Yes, definitely. I wanted to iron out a few more issues before publishing, but you're right.. more contributors are always welcome. I'll try to get to it this weekend

[2017-02-05 18:54] alexarchambault commented on #17
The server can be published on Sonatype / Central (like a standard library), then launched via the coursier launcher, like 'coursier launch com.github.dragos::ensime-server:0.1.0', rather than via an embedded assembly. I do that locally (after a publishLocal), it works just fine.

[2017-02-05 19:25] dragos opened #18 "Use proguard to decrease the download size"
The bundle is 62MB, but the Marketplace is limited at 30. We need proguard.

[2017-02-05 19:26] dragos commented on #17
Thanks for the tip! I'll look into it.

[2017-02-05 19:27] dragos commented on #16
This was fixed a while ago...

[2017-02-05 19:27] #16 closed

[2017-02-05 19:27] dragos commented on #10
Fixed in 0.0.5

[2017-02-05 19:27] #10 closed

[2017-02-08 09:46] jc776 commented on #18
[Courser](https://github.com/alexarchambault/coursier)? "Bootstrap" makes a 12MB runnable thin-JAR that  downloads one or more Maven dependencies, then run your main class.
This would have to be a Maven package for releases, but test can use publishLocal.
I did try it (a replacement publishExtension task), but it didn't seem to react well to the logging libraries. I'll get an example tonight.

[2017-02-08 10:45] alexarchambault commented on #18
You can even use straightaway its (currently ~12 kB) launcher, and call it like `java -noverify -jar /path/to/coursier-launcher launch com.github.dragos:ensimeServer_2.11:0.1.0` to spawn the server.

[2017-02-08 12:53] dragos commented on #18
Thanks @jc776 and @alexarchambault, I will try out the launcher ASAP. I think @hedefalk mentioned some issues when using it in the Atom plugin, but I don't remember what they were. I'm assuming that when the file is already on disk there is no connection needed (so it would work well in offline mode)?

[2017-02-08 18:45] jc776 commented on #18
Yes - there's a cache in `~/.coursier` (much like `~/.ivy2`), and it looks there first for references: `./coursier launch org.clojure:clojure:1.7.0 -M clojure.main` worked for me with internet disabled.

```java -Dvscode.workspace=D:\Desktop\Projects\downloads\dragos-vscode-scala -jar coursier.jar launch com.github.dragos:ensimeServer_2.11:0.1.0-SNAPSHOT -r https://dl.bintray.com/dhpcs/maven -r ht

[2017-03-03 18:50] alexarchambault commented on #18
FYI, [this branch](https://github.com/alexarchambault/dragos-vscode-scala/tree/develop) uses coursier to launch the server. I can open PR for it if it looks fine.

[2017-03-04 10:16] dragos commented on #18
Closing this issue as #19 fixed it in a much nicer way.

[2017-03-04 10:16] #18 closed

[2017-03-04 10:18] dragos opened #20 "Better icon for marketplace"
It would be nice to have a nicer icon for the extension when we get to Marketplace. All Scala plugins are using the Scala logo, so it'd be great to have something a little different. I'm leaving this here, as I'm not at all good at design, maybe someone has some time and desire to fire up Photoshop/Gimp

[2017-03-04 10:23] dragos commented on #17
@alexarchambault fixed the download size in #19 so I'm looking into publishing it now.

[2017-03-04 10:51] dragos commented on #17
The extension [is live](https://marketplace.visualstudio.com/items?itemName=dragos.scala-lsp)! I didn't announce it yet, so please let me know if things work before I tweet.

[2017-03-04 11:22] dragos commented on #17
Actually, it's not there just yet. Still need to figure out a way to publish my artifacts somewhere :)

[2017-03-05 12:13] dragos commented on #17
Now it is, published to sonatype

[2017-03-05 12:13] #17 closed

[2017-03-05 12:14] dragos opened #21 "Progress report while downloading dependencies for the first time"
Now that we're using coursier (see #19), it would be nice if there was some feedback to the user while coursier downloads artifacts (first time the plugin is run).

[2017-03-06 13:38] hedefalk commented on #18
@dragos I think my issue was with the binary, not the jar. I think. Hard to remember :)

[2017-03-08 16:34] avalonx commented on #20
The Scala logo seems fitting actually considering what it is and provides. I don't think it needs changing unless Scala-lang.org has an issue with it. Another option might be to put the Ensime logo as its most accurately a plugin to Ensime. My vote would be to keep it the way it is, The Scala logo, with The Ensime logo a close second choice.

As for more than one plugin using the Scala logo, I don

[2017-03-08 16:38] avalonx opened #22 "Details page on VS Code should inform about compatibility to other known plugins."
I suggest putting some suggestions or instructions as to what other known Scala plugins should/shouldn't be used with your plugin for compatibility reasons and best use combinations if any.

[2017-03-08 16:42] lolgab opened #23 "Scala server won't start"
Tried in different scala projects but scala server doesn't work. (scala 2.11.8)
[ensime-langserver.log.txt](https://github.com/dragos/dragos-vscode-scala/files/828280/ensime-langserver.log.txt)

[2017-03-08 23:13] dragos commented on #23
That looks bad, but the log doesn't say much more than that the Ensime actor system got shut down because of a fatal error:

[code]

Can you try using Ensime 2.0? Have a look at the ensime [sbt docs]( http://ensime.org/build_tools/sbt/), it should be as simple as adding

[code]

to your build.

[2017-03-08 23:42] alexarchambault commented on #23
FYI I've been running into similar errors when the `JAVA_HOME` env var wasn't set (which makes `tools.jar` not land in the classpath, see around [here](https://github.com/dragos/dragos-vscode-scala/blob/86ebc3aa6a270ebdced552bb5f2f61a7aeec0033/scala/src/extension.ts#L11)).

Maybe the java home detection could be made a bit more portable (e.g. by calling `/usr/libexec/java_home` on OS X).

[2017-03-09 00:20] k--kato commented on #23
vscode-java
Setting the JDK, https://github.com/redhat-developer/vscode-java#setting-the-jdk

[2017-03-09 09:13] dragos commented on #23
Good point @alexarchambault, can you double-check that? And yes, we should have better logic for finding `tools.jar`. I'll file a ticket

[2017-03-09 09:14] dragos opened #24 "Better detection of JAVA_HOME"
The language server needs `tools.jar` and relies on `JAVA_HOME` to find it. We should have a more robust scheme, or warn the user before hand. See #23

[2017-03-09 09:20] alexarchambault commented on #23
It's documented [here](https://developer.apple.com/legacy/library/documentation/Darwin/Reference/ManPages/man1/java_home.1.html) for example. On my machine, I get
[code]

[2017-03-09 19:37] dragos commented on #24
Fixed by #25

[2017-03-09 19:37] #24 closed

[2017-03-09 19:38] dragos commented on #23
@lolgab would you be able to try out `master`? There's a fix in #24 that might solve the issue for you.

[2017-03-12 11:28] lolgab commented on #23
@dragos I compiled following your instruction on README and installation seems ok, but no messages and no ensime-langserver.log.txt being created...  Seems that the server doesn't start..
I tried to set JAVA_HOME before trying the master version using the one from the store and I had the same errors as before...

[2017-03-12 11:29] lolgab commented on #23
Is there a way to have from vscode some debug information from the extentions?

[2017-03-12 11:33] dragos commented on #23
You can have some (not much) debugging output showing in the javascript console. Help -> Toggle Developer Tools.

[2017-03-12 11:51] lolgab commented on #23
I tryed now to debug the extension (opening dragos-vscode-scala/scala in vscode and pressing F5 )and it works nicely now :-)
The developer tools gives me this error:
[Extension Host] L'attivazione dell'estensione `dragos.scala-lsp` non è riuscita: Cannot find module 'path-exists'.
[Extension Host] Activating extension `dragos.scala-lsp` failed:  Cannot find module 'path-exists'
[Extension Host] He

[2017-03-12 11:58] dragos commented on #23
@k--kato maybe can help? Normally the `npm install` step should have downloaded all dependencies. It's interesting that it works though.

When it doesn't work, do you see a line like this in your Developer Tools Window?

[code]

[2017-03-12 12:36] k--kato commented on #23
@dragos maybe I wrote `path-exists` at `devDependencies` in `package.json`. So, we (developers) can run normally, but users can't, I think. @lolgab would you be able to try `fixed release dependencies #26`?

[2017-03-12 15:05] lolgab commented on #23
@k--kato tryed just now and IT works :-)
The vsix generated file passed from ~100 kB to 1.3Mb :-D So some dependencies were not in the package i think :-)
Now All works nicely ;-)

[2017-03-12 16:15] dragos commented on #23
Great, thanks @k--kato for the fix and @lolgab for trying it out. I'll merge the change and publish a new release

[2017-03-12 16:38] lolgab commented on #23
Thanks for your great work :-)

[2017-03-12 16:39] dragos commented on #23
👍

Release 0.1.3 is out.

[2017-03-12 16:39] #23 closed

[2017-03-12 19:20] ibnuda opened #27 "ensimeConfig not a valid command."
I'm using this extension in a scalatra project on windows 10.

VSCode tells me that I can generate .ensime using `sbt ensimeConfig` command.  And here's the screencap.
![problem](https://cloud.githubusercontent.com/assets/8169908/23835089/961e2c78-0793-11e7-9c5e-c5d69c677126.PNG)

[2017-03-12 19:30] ibnuda commented on #27
Sorry, it's my fault. I need to sleep.
I haven't installed sbt.

[2017-03-12 19:30] #27 closed

[2017-03-12 20:46] dragos commented on #27
You need the sbt-ensime plugin. Please follow http://ensime.org/build_tools/sbt/

[2017-03-31 16:22] fede0664 opened #29 "Error downloading coursier under a proxy"
Error while downloading https://oss.sonatype.org/content/repositories/releases/io/get-coursier/coursier-cli_2.11/1.0.0-M15/coursier-cli_2.11-1.0.0-M15-standalone.jar: Connection refused: connect, ignoring it

[2017-04-01 13:06] dragos commented on #29
@alexarchambault do you know how we could fix this? At first glance, I didn't find anything on google on how to make it work :)

[2017-04-01 13:52] alexarchambault commented on #29
Yeah, coursier uses standard `HttpUrlConnection`s, so it's just a matter of setting the right Java properties (described [here](http://docs.oracle.com/javase/6/docs/technotes/guides/net/proxies.html)) when [launching coursier](https://github.com/dragos/dragos-vscode-scala/blob/8d99eefdf2f82fc0aa40f913c75aa5ee7195e64d/scala/src/extension.ts#L37).

[2017-04-15 19:09] jmparsons opened #32 "Make note in readme for anyone using jenv"
My installation was pointing to the wrong location for picking up `tools.jar`.

Evidently my `JDK_HOME` and `JAVA_HOME` weren't set by [jenv](http://www.jenv.be/).

Running this worked for me:

[code]

Fixing the location in dev tools from:

[code]

To:

[code]

 https://github.com/gcuisinier/jenv/issues/44.

[2017-04-18 10:44] tegrity opened #33 "No code-completion"
It seems to me like I'm failing at installing the plugin properly. I don't see any error messages, but features like code-completion and errors as I type don't work for me. The only thing I see is syntax highlighting and the options to add sbt-resolvers when I hit ctrl+space.

What I did:
I installed the plugin via the marketplace, told sbt to add ensime in the plugins.sbt and ran `sbt ensimeConfi

[2017-04-18 12:09] vasily-kirichenko opened #34 "It does not work behind a proxy"
[code]
Is there a way to pass it proxy address and credentials?

[2017-04-18 13:44] dragos commented on #34
See #30, I'll cut a release soon, hopefully later today

[2017-04-18 14:23] vasily-kirichenko commented on #34
@dragos cool. Thanks!

[2017-04-18 16:53] dragos commented on #34
Please upgrade to 0.1.4 and add `http.proxy` in your settings (see #35 for instructions)

[2017-04-18 16:53] #34 closed

[2017-04-18 16:56] dragos commented on #33
I don't think you missed anything. Do you see an `ensime-langserver.log` file in the project directory? Any hints in there?

[2017-04-18 20:35] tegrity commented on #33
No hints in there:

But there is a `pc.stdout.log` containing the following

[2017-04-18 20:54] tegrity commented on #33
Now it works for me. I've installed the update you made today and suddenly vsc told me, that there was no .ensime file (even though I'm pretty sure there was one). Well, i ran the command again and now it works. I don't really know what was going on, since I had the same problem on a second PC. Maybe the .ensime was in the wrong folder.
However, thanks for your help!

[2017-04-19 06:18] dragos commented on #33
Thanks for digging it up. I just noticed yesterday the same compilation error (well, "class not found"). It turns out that Ensime removed a dependency to Guava, which we inherited and used. I updated the code on our side as well, and that's why yesterday's update started working again.

I should probably switch to a stable Ensime version (this is 2.0-SNAPSHOT), but as far as I know there hasn't be

[2017-04-19 06:18] #33 closed

[2017-04-19 09:06] vasily-kirichenko commented on #34
I confirm it can download Ensime now. Thanks!

[2017-04-19 09:07] vasily-kirichenko opened #36 "Tooltips and autocomplete do not work"
![image](https://cloud.githubusercontent.com/assets/873919/25172099/a676e8bc-24f8-11e7-99d1-50a022f1ac3e.png)

![image](https://cloud.githubusercontent.com/assets/873919/25172113/b144e406-24f8-11e7-856a-d1386a2cca75.png)

[2017-04-19 09:12] dragos commented on #36
Did you notice anything unusual in the log file (`ensime-langserver.log`)? Or maybe in `pc.stdout.log`?

[2017-04-19 09:28] vasily-kirichenko commented on #36
I update Esimite to the latest version in plugins.sbt and it started to work:

![image](https://cloud.githubusercontent.com/assets/873919/25173051/7fce477a-24fb-11e7-8eb9-e651b23f4844.png)

However, a half of tooltips are empty:

![1](https://cloud.githubusercontent.com/assets/873919/25173113/ae34a21c-24fb-11e7-840b-ece5296ee664.gif)

[2017-04-19 09:40] vasily-kirichenko commented on #36
Also, it does not show red squiggles if code is not compilable.

[2017-04-19 09:43] dragos commented on #36
Yes, indeed.. Unfortunately the Ensime API is limiting, and it provides hover information only for class members. I had tried a few different things [here](https://github.com/dragos/dragos-vscode-scala/blob/master/ensime-lsp/src/main/scala/org/github/dragos/vscode/EnsimeLanguageServer.scala#L235), still both implementations are there. One can return the type, but that has no proper `toString`, the

[2017-04-19 10:01] vasily-kirichenko commented on #36
I see, thanks. What about error highlighting? Is it supposed to work?

[2017-04-19 10:11] dragos commented on #36
Yes, it's supposed to work. I'm wondering if there's an error somewhere along the lines. CMD-Shift-M should show all errors that are reported by the language server. Do they appear there? I'm wondering if the initial crashes still happen, and if they have anything to do with it. I noticed such moments, but couldn't reproduce reliably to debug them.

[2017-04-19 10:20] vasily-kirichenko commented on #36
No, the errors window shows nothing:

![image](https://cloud.githubusercontent.com/assets/873919/25175121/4edca650-2502-11e7-9b3f-5dc952d9c8be.png)

This is the complete log (no tooltips or completions performed, just opened a file and wait for CPU becomes idle):

[code]

[2017-04-19 10:26] dragos commented on #36
I see, it's weird. Ensime reports the errors, but they get lost somewhere along the way, maybe the URI used to identify the file is screwed up, most likely a Unix-style assumption on my part that doesn't work with Windows paths. Most likely line is [this one](https://github.com/dragos/dragos-vscode-scala/blob/master/ensime-lsp/src/main/scala/org/github/dragos/vscode/EnsimeLanguageServer.scala#L164

[2017-04-19 10:28] vasily-kirichenko commented on #36
I'm behind a proxy here, may it cause the problem? I'll test it at home (no proxy).

[2017-04-19 13:00] fede0664 opened #37 "Trouble showing local val tooltip"
Rolling over test below shows the correct tooltip:

![image](https://cloud.githubusercontent.com/assets/26821944/25180939/84bd1444-24d5-11e7-9d99-ce3723a36240.png)

But rolling over t shows an empty box:
![image](https://cloud.githubusercontent.com/assets/26821944/25180950/8af0cfcc-24d5-11e7-850a-30488f58ed0a.png)

I'll try to setup a local lang-server and debug the issue.

[2017-04-19 13:52] dragos commented on #37
Have a look towards the end of the discussion in #36

[2017-04-19 13:53] dragos commented on #37
More specifically, [this comment](https://github.com/dragos/dragos-vscode-scala/issues/36#issuecomment-295191188)

[2017-04-20 20:37] leandrob13 opened #38 "Support for Scala 2.12"
I tried updating scala on this project and publishing locally and the error is the same. It seems a problem with scala compiler versions but I don't know where to look besides updating dependencies and scalaVersion.

[code]

[2017-04-21 06:42] dragos commented on #38
Indeed! I'm not sure Ensime works with Scala 2.12, or if you need to do something special for that...

[2017-04-21 14:27] leandrob13 commented on #38
@dragos I managed to get atom-ensime to work with the server 2.0.0-SNAPSHOT. It still presents some errors but the server starts without this exception. That it why I thought it might be something that still depends on scala 2.11 in vscode-ensime. I wish I could help you with this but honestly I ran out of ideas.

[2017-04-21 15:06] dragos commented on #38
Ah, you're absolutely right. We don't cross-compile so this plugin is only for Scala 2.11. There should be a way to fix this though, thanks for reporting

[2017-04-22 21:11] Mr-SD opened #39 "Function parameter hints"
In Intellij you can have function parameters pop up which is super helpful:

![vscode-parameter-hints](https://cloud.githubusercontent.com/assets/3237827/25308282/0eb8bae6-2787-11e7-8825-34e3e6c31baf.gif)

I think it'd be nice to have that feature in vs code as well:
![intellij-parameter-hints](https://cloud.githubusercontent.com/assets/3237827/25308283/0ed36116-2787-11e7-8756-202551f56c4b.gif)

[2017-04-23 12:44] Charmatzis opened #40 "How can I configure VS code to debug scala?"
Could you please provide a task for VS code so I can debug a scala app?

[2017-04-24 09:08] dragos commented on #40
I'm not sure what you're suggesting. Is it a Scala debugger for VS Code?

[2017-04-24 09:09] dragos commented on #39
It's a great suggestion, but I'm not sure Ensime has such a feature, and currently we're relying on Ensime for all functionality.

If you're motivated in contributing this, I'd be happy to help you get started.

[2017-04-24 09:10] #29 closed

[2017-04-24 09:10] dragos commented on #22
Did you notice any such incompatibilities? I am not sure what other Scala plugins there are and if there is any problem with them. If you notice anything, please contribute.

[2017-04-28 17:07] simon-nicholls commented on #36
I get the same lack of squiggles and problem logging on a Windows setup. I'll have to wait a couple of weeks to try on macOS.

[2017-04-28 20:41] AesaKamar opened #41 "Infix notation for method invocation reports error"
In both error cases, it reports:
`value :: is not a member of Int`

<img width="390" alt="screen shot 2017-04-28 at 4 40 49 pm" src="https://cloud.githubusercontent.com/assets/4334491/25546526/79063410-2c31-11e7-962b-d109aabb3ae8.png">

[2017-04-28 21:38] dragos commented on #41
Actually, the error is correct. Methods that end with `:` are right-associative when used in infix notation. So, what you're trying to do should be `2 :: x`. `::` is actually prepending, so the notation is more natural ("2" in front of "x").

[2017-04-28 21:38] #41 closed

[2017-04-28 21:41] dragos commented on #36
It'd be great to have a fix for Windows users, if anyone here is motivated and is a Windows user.

[2017-04-28 21:47] AesaKamar commented on #41
My mistake, thanks for the prompt clarification~

[2017-04-30 16:18] simon-nicholls commented on #36
I'm only using Windows for a tempoary period, but have chucked a pull request up for this.

[2017-05-08 15:16] kggp1995 opened #43 "FEAT Request: Add automatic Scala format support post saving .scala source code"
Can we push this feature of using sbt and ensime to automatically format the scala code with indentations, space etc..?
Thanks in Advance.
Keep up the GR8 work!!!

[2017-05-12 13:32] kggp1995 commented on #43
UPDATE: I have found the sbt "scalafmt" plugin to be helpful. Willing to integrate it if guidance is provided :)

[2017-05-13 09:48] dragos commented on #43
Thanks @kggp1995 for the offer! Absolutely, it would be great! There are a few steps to add a new feature:

- modify the language server library to add support for [formatting](https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#textDocument_formatting)
- add the feature in ensime-lsp
  - add the feature in the "connect" response message
  - implement the format method, d

[2017-05-13 13:51] kggp1995 commented on #43
Thanks for the brief, @dragos ! Will look into it!

[2017-05-16 08:24] fommil commented on #39
We certainly get parameter names in completions so I think this is possible. I'm not sure if the current API is enough, it may need another query.

[2017-05-16 08:25] fommil commented on #39
I wonder if symbol-at-point provides this...

[2017-05-16 09:03] dragos commented on #39
I'm wondering as well. The challenge is that the symbol at point may be something completely different from the actual call:

[code]

Symbol-at-point will return `ident`, but we'd need `Car.apply`. In Eclipse we cut some corners and provided these for the initial completion call through Ctrl-Space. So that would work *outside* the parenthesis, but not inside.

There's a bunch of helper methods wor

[2017-05-16 09:10] fommil commented on #39
yeah that's right. I actually really hoped that `scala.meta` would give us an ADT of the AST which would let us expose so much more... but they decided to do it differently. It would have to be a fresh effort and that is a pretty huge undertaking.

[2017-05-21 13:27] kggp1995 commented on #40
Hi @Charmatzis , Maybe if you're suggesting a debugging feature like the LLDB/LLVM or NodeJS, I request you to go through these:
1. INTRO: https://code.visualstudio.com/docs/editor/debugging
2. DEBUG DESIGN: https://code.visualstudio.com/docs/extensions/example-debuggers
3. DEBUG PROTOCOL: https://code.visualstudio.com/docs/extensionAPI/api-debugging

[2017-05-30 14:32] kggp1995 commented on #43
@dragos , ENSIME mentions in their site that it recommends the use of "scalaiform". We know that the Typesafe Scala IDE uses the same dependency as well.
In the ensime sbt shell, the scalaiform performs automatic formatting "ON COMPILE / RUN" by adding this to the build.sbt:

`resolvers += Resolver.typesafeRepo("releases")

addSbtPlugin("org.scalariform" % "sbt-scalariform" % "1.6.0")
`

**Any cha

[2017-06-01 15:20] dragos commented on #43
I'm not sure if you're suggesting to add a new sbt task? Sure, go ahead!

I think scalariform is perfectly fine as a formatting tool. It would still be nice to have editor integration, without a round-trip through Sbt. That allows format-selection instead of the whole project, etc.

[2017-06-01 18:48] kggp1995 commented on #43
Yes, sure!
So, we can now add config for the new command `sbt: scalariformFormat` in  dragos-vscode-scala/scala/package.json. _Anywhere else the config must be reflected?_

_Also wondering how to ensure the scalaiForm plugin be added to the VS Code projects..
Could you assist on that?_

[2017-06-08 16:35] kggp1995 commented on #43
This is now addressed. Thanks for your support!

#44

[2017-06-09 06:26] kggp1995 commented on #43
Reopen: Will be closed after PR #44 is merged into the master

[2017-06-10 01:36] kggp1995 commented on #43
#44 merged

[2017-06-10 01:36] #43 closed

[2017-06-12 21:11] DenysFrasinich opened #45 "NoSuchMethodError: org.ensime.api.SourceFileInfo.<init>(Lorg/ensime/api/EnsimeFile;Lscala/Option;Lscala/Option;)"
Hello!
I have latest version of yours extention from vscode marketplace(v0.1.4) and this sbt-ensime version:
[code]
Language server starts but after pressing Ctrl+Space it shows empty pop-up with "Loading.."
I have this stacktrace in pc.stdout.log in root folder of my project:
[code]

Here is the content of ensime-langserver.log
[code]

[2017-06-13 06:24] dragos commented on #45
Thanks for reporting! Looks like Ensime changed some APIs

[2017-06-13 06:53] dragos commented on #45
I'll cut a new release, hopfully the Ensime people will provide a stable release number I can use.

[2017-06-13 09:19] fommil commented on #45
yup, will do

[2017-06-13 15:53] fredc0088 opened #46 "Cannot start server, cannot find ensime file"
Hi. I am experiencing some issue while trying to make the extension works. I have created a new build with ensimeConfigProject, and created the structure src>main>scala. I still receive "no .ensime file in directory. Run `sbt ensimeConfig` to create one." when opening a scala file, obviously no auto-competition or any other feature is working.  I believe the issue was there even with .ensime in th

[2017-06-13 17:25] fredc0088 commented on #46
I also tried with a new configuration and then ensimeLaunch

here is the error i get:

        at sbt.$tilde$greater$$anonfun$$u2219$1.apply(TypeFunctions.scala:40)
        at sbt.std.Transform$$anon$4.work(System.scala:63)
        at sbt.Execute$$anonfun$submit$1$$anonfun$apply$1.apply(Execute.scala:228)
        at sbt.Execute$$anonfun$submit$1$$anonfun$apply$1.apply(Execute.scala:228)
        at

[2017-06-14 07:54] dragos commented on #46
In the logs:

[code]

Just delete the lock file. Probably an earlier crash left that file in there.

[2017-06-14 08:31] fredc0088 commented on #46
Thanks for the reply.
I did it, but still it keeps encuntering different errors.
this a constant error though:

[2017-06-14 09:25:35,807] ERROR langserver.core.Connection - No notification type exists with method=initialized

[ensime-langserver.txt](https://github.com/dragos/dragos-vscode-scala/files/1073982/ensime-langserver.txt)

[pc.stdout.txt](https://github.com/dragos/dragos-vscode-scala/file

[2017-06-14 08:43] dragos commented on #46
Oh, this error is a duplicate of #45 We should get a fix upstream this weekend, it seems.

[2017-06-14 12:14] fredc0088 commented on #46
Ok, I see. I will wait the fix this weekend and try again. Thanks a lot

[2017-06-15 23:34] jvican commented on #2
Indeed. On a related topic, I've noticed that when quitting vscode the ensime threads do not get killed and survive in the background. I have to kill them manually with htop.

[2017-06-20 14:14] dragos commented on #46
Please upgrade to 0.1.6, should be fixed

[2017-06-20 14:14] #46 closed

[2017-06-20 14:15] dragos commented on #45
Please upgrade to 0.1.6, should be fixed. Thanks @fommil  for the 2-M2 release!

[2017-06-20 14:15] #45 closed

[2017-07-12 13:56] ixxie commented on #36
If it helps, I am having similar problems on [NixOS](https://nixos.org/), which is a Linux system but based on the rather unconventional [Nix package manager](https://nixos.org/nix/about.html); so this does indeed point to overly specific path assumptions.

[2017-07-13 12:45] vuhrmeister opened #49 "Unresolved imports for local packages"
I get a lot of errors like:

If I open the required file once, then the import can be resolved (as long as VSCode is open).

Imports from inside the same package as well as global packages (like org.slf4j.LoggerFactory) are always resolved.

[2017-07-30 17:43] jvican commented on #39
I think a more approachable way to bring this feature is to force the user to always have the caret in either a comma or a parenthesis (either opening or dangling). This way, the vscode integration can assume that the user means the enclosing call and ask for the symbol at point of that concrete name.

I don't know how vscode integration handles positions, but it should be possible to pass in the

[2017-07-30 17:44] jvican commented on #38
Oh, now that we have a fast 2.12.x series, it would be lovely to have this cross-compiled :smile:.

[2017-07-30 17:46] jvican commented on #36
By the way, https://github.com/dragos/dragos-vscode-scala/pull/42/files got merged, so this should be fixed now. @ixxie Can you confirm?

[2017-07-30 17:48] jvican commented on #22
This was opened a long time ago... So far, I'm using the plugin with several vscode plugins and I have no issue. I suggest closing and to reopen if @avalonx is able to provide more information.

[2017-07-30 17:49] jvican commented on #20
I think this was fixed in https://github.com/dragos/dragos-vscode-scala/pull/28.

[2017-07-30 17:50] jvican commented on #5
This is a nice improvement. However, I must say that I'm impressed how fast this plugin is, so not sure if this is really necessary 👿

[2017-07-30 17:50] jvican commented on #4
What do you mean here @dragos ?

[2017-07-30 17:51] jvican commented on #2
This now happens less often than before, and usually after a certain amount of time the server shuts down alone, in my experience.

[2017-07-30 17:52] jvican commented on #32
I wonder, is this really a problem of this plugin and not your ensime configuration? It's ensime, after all, who tells the ensime server the jars that should be used. I think this plugin has nothing to do with this...

[2017-07-30 18:45] jmparsons commented on #32
@jvican I upgraded my sbt and project and had better results. This was a side case issue just going to close it out.

[2017-07-30 18:45] #32 closed

[2017-07-30 20:06] jvican commented on #39
By the way, if someone has the vim integration installed for vscode, they can get something similar to tooltips by typing the empty constructor and then typing `g + h` to get the information about the type error they'll get in case that empty constructor doesn't exist (which is almost always).

[2017-07-31 08:15] ixxie commented on #36
@jvican - I am not building from source and neither the marketplace version nor the latest [release](https://github.com/dragos/dragos-vscode-scala/releases) incorporate this latest fix; it might be a few weeks before I can build it myself (quite busy atm), otherwise I can confirm as soon as there is a release.

[2017-07-31 09:42] dragos commented on #36
@ixxie the releases tab is lying. The latest release is from June 20 and includes that fix. I don't know why GitHub is confused. Tags look good though.

[2017-07-31 09:45] dragos commented on #4
The client has to send the document changes, which usually are just a few characters, but right now we're using the Full strategy which sends the whole document to the server, every time. See [DidChangeTextDocument](https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#didchangetextdocument-notification)

[2017-07-31 09:46] dragos commented on #5
Yeah, that's why it sort of got delayed indefinitely. Still, a nice thing to have :0

[2017-07-31 09:46] dragos commented on #20
Yeah, thanks @jvican!

[2017-07-31 09:46] #20 closed

[2017-07-31 09:46] dragos commented on #22
Yeah, good idea.

[2017-07-31 09:46] #22 closed

[2017-07-31 09:47] dragos commented on #38
Absolutely... we need a bit of logic in the client as well, I think.

[2017-07-31 11:14] laughedelic commented on #36
It just collapses latest tags. You have to explicitly create Github release based on a tag for it to be visible in the Releases tab. In case you want to automize it (publishing release notes as Github Releases), there's a plugin (that I'm maintaining): [sbt-github-release](https://github.com/ohnosequences/sbt-github-release)

[2017-08-01 16:46] ixxie commented on #36
@dragos - the latest release doesn't seem to include the .vsix, so I would still have to build it (as I said, I can do this eventually, but not quite now).

[2017-08-01 18:40] dragos commented on #36
@ixxie can't you just install it from the Marketplace? The Releases GitHub page isn't necessary nor useful here :)

[2017-08-01 18:48] ixxie commented on #36
@dragos - I have the marketplace version installed, but its version 0.0.2 as far as I can tell, and @jvican asked me to confirm if the fix mentioned above works on my system.

[2017-08-01 18:52] ixxie commented on #36
@dragos - I have the marketplace version installed, but I am not sure how updated it is (the last two entries in the changelog are 0.1.3 and 0.1.X. For what it's worth its not working on that version (whichever it is).

[2017-08-03 12:51] dragos commented on #36
@ixxie I don't know, the version [on the marketplace](https://marketplace.visualstudio.com/items?itemName=dragos.scala-lsp) is 0.1.6. Just upgrade like any other extension.

[2017-08-03 13:23] ixxie commented on #36
@dragos it seems to be up to date (for some reason, VSCode doesn't show version number of the extension explicitly, but it doesn't seem to think the extension needs to be updated). So either this fix doesn't work on NixOS, or I am still doing something else wrong on my end.

[2017-08-03 13:30] dragos commented on #36
This is how my Extensions page looks, and the version number is there.
<img width="474" alt="screen shot 2017-08-03 at 15 29 11" src="https://user-images.githubusercontent.com/133742/28924050-a04dc580-7860-11e7-8f65-8b7007d9f065.png">

[2017-08-03 13:34] ixxie commented on #36
Oops. Missed that. Hmmm 1.1.2, and uninstalling / reinstalling doesn't help. This has to be something on my end, maybe my VSCode is out of date or something. Will look into it.

[2017-08-07 08:36] jvican opened #51 "Find usages and rename symbols"
I think it would be really nice if this plugin is able to find usages of a given symbol and even rename them. This is provided by Ensime 2.0, so it should be easy to add.

@dragos Would you welcome such a change?

[2017-08-07 09:12] dragos commented on #51
Of course!

[2017-08-07 11:48] jvican commented on #51
I may send a PR soon :smile:.

[2017-08-24 21:18] jerrypaytm opened #52 "auto import features?"
I wonder if auto import is a possible new feature for the next release? Thank you.

[2017-09-10 06:37] huntc opened #53 "Improve README to describe the Ensime relationship"
I think that the README could be improved to explain the relationship to Ensime. Ensime is new to me, and I found myself wondering at what point do I need to add the sbt plugin and when do I need to invoke the `ensimeConfig` command. I'd be happy to raise a PR once I understand these two things at least. :-)

[2017-09-10 07:37] dragos commented on #53
I know this is confusing, but in fact, there are two READMEs: the root one, and the VS Code-specific one, [here](https://github.com/dragos/dragos-vscode-scala/tree/master/scala). Unfortunately, only that one ends up on the VS marketplace, and that's what users see. Perhaps there's some clever tweaks to the vspublish tool that I could make, but for the moment I'm stuck with these two. Is the "user-

[2017-09-10 07:39] dragos commented on #52
Everything is possible. Someone needs to implement it though. Unfortunately, as I mentioned in the README, I can't take feature requests but I'm more than happy to help, guide and merge new features.

[2017-09-10 22:42] huntc commented on #53
Perhaps a few words introducing Ensime might help. I've never used it or bothered to find out more until now. I'll take a stab at a PR.

[2017-09-10 22:42] huntc commented on #53
Btw I still don't understand when I need to manually invoke `ensimeConfig`...

[2017-09-12 10:18] mgobec opened #55 "High memory footprint"
Hi,

I setup the latest release of this VS Code plugin through extensions tab (awesome work) when VS Code starts it spawns two java processes one consuming ~4.5GB and another ~500mb or memory.

VS Code version: Version 1.16.0 (1.16.0)
SBT version in project: sbt.version=0.13.15
Scala version in project: scalaVersion := "2.11.8"
Ensime plugin version: addSbtPlugin("org.ensime" % "sbt-ensime" % "1.1

[2017-09-13 09:36] dragos commented on #55
Indeed, it looks like the default Coursier JVM process runs with a 4G heap, and currently there is no way to change that. See https://github.com/coursier/coursier/issues/357

[2017-09-13 09:46] mgobec commented on #55
I'll keep an eye on that issue then and close this one.
Btw, the plugin works great. Thank Iulian.

[2017-09-13 09:55] alexarchambault commented on #55
@dragos The amount of memory can be changed from here, as we're launching coursier via a custom java command. E.g. `-Xmx` etc. options could be added around [here](https://github.com/dragos/dragos-vscode-scala/blob/master/scala/src/extension.ts#L53).

[2017-09-13 10:07] mgobec commented on #55
@alexarchambault Good one. Lets keep it active then 👍

[2017-09-20 14:07] yelled1 opened #59 "Sept 19 0.2.0 update causes errors"
I think VSCode decided to do an auto update
Don't know why, but I got an "extension host terminated unexpectedly error"
and OUTPUT terminal below shows it's trying to access ensime as 2.12 (Scala I believe)
I still have 2.11.8 because of Spark. Emacs ensime works, but not VSCode.
I have ubuntu 16.04 64bit 4.4.0-96-generic kernel.
cat build.sbt
[code]
cat project/build.properties
`sbt.version=0.13.

[2017-09-22 09:29] GoranSchumacher commented on #59
I am also getting the same issue although it is just with a standard project

[2017-09-22 09:40] mdedetrich commented on #59
Getting this error too, its not finding a proper package in maven repo?

[2017-09-22 10:20] gotoeveryone commented on #59
I am having the same problem. I have built and used 0.1.6.

[2017-09-22 12:34] dragos commented on #59
Sorry, the last step (promoting the release) has failed and I didn't notice. It all worked fine locally because I had the binaries in my local cache. Now everything should be back to normal.

[2017-09-22 12:34] #59 closed

[2017-09-22 15:24] gotoeveryone opened #60 "loadConfig error at windows 10 (0.2.0)"
Hi,

When installing 0.2.0 and opening the Scala project, the following error is output to `pc.stdout.log`.
Perhaps because on Windows separator is `\\`, it is not correctly parsed with json-rpc.

OS: Windows 10
VSCode: 1.16.1

[code]

[2017-09-23 00:32] yelled1 commented on #59
Working now :+1:

[2017-09-23 17:34] Hypnoes commented on #60
Yes, it's occurred to me too.

[2017-09-24 16:54] mdedetrich commented on #59
Thanks for fixing this, its now working!

[2017-09-26 15:54] Hypnoes commented on #60
Thanks for fix this, but when would it be release?

[2017-10-01 07:21] dragos commented on #60
Sorry it took a bit longer, but the release is finally out. Please install 0.2.1 to get around this issue.

[2017-10-01 07:21] #60 closed

[2017-10-01 07:24] dragos commented on #38
The thin client (currently written in typescript) would need to know what version is the project in order to launch the correct version of the LSP. The simplest solution would be to make that a setting, or alternatively parse the ensime configuration to extract the Scala version. That would be easier if our client was in Scala.js, as we might be able to share the code reading ensime config files.

[2017-10-01 07:42] gotoeveryone commented on #60
@dragos
Confirmed fix it. Great thanks!!

[2017-10-02 07:58] #53 closed

[2017-10-02 18:56] WernerLDev opened #68 "Parameter errors when method takes implicit"
Hello folks,

I recently started to use this extension and it's great to see intellisense for scala available. But, I have one minor issue. Every method in my code that takes an implicit as parameter is marked as an error (with red mark under the code). It says 'not enough parameters for method apply'. It looks like it doesn't understand implicits.

My code compiles fine so that's not the problem.

[2017-10-03 18:24] gabfssilva commented on #40
I guess he's talking about this, but for Scala: https://github.com/Microsoft/vscode-java-debug. I'm not familiar with VS, can anyone tell if it is trivial to fork this and adapt to work with Scala?

[2017-10-05 09:32] quocbao100 opened #69 "WARNING: MaxDirectMemorySize JVM option is not set or has invalid value"
Hello,
I got this warning in pc.stdout.log:
WARNING: MaxDirectMemorySize JVM option is not set or has invalid value, that may cause out of memory errors. Please set the -XX:MaxDirectMemorySize=6055m option when you start the JVM.
Do you know how to fix it?

[2017-10-09 13:12] dragos commented on #55
Fixed in the latest release.

[2017-10-09 13:12] #55 closed

[2017-10-10 20:20] Blaisorblade opened #70 ""Unknown configuration settings" warnings from VSCode (cosmetic?)"
Disclaimer: I haven't read many docs beyond this project's README. However, it was mostly not needed—I had a few minor issues, all fixed through restarts/cleaning caches.

TL;DR. It seems this plugin should declare `scalaLanguageServer.logLevel` and `scalaLanguageServer.heapSize` to VSCode but doesn't, so VSCode warns about those settings with "Unknown configuration setting", even though they work

[2017-10-10 20:59] Blaisorblade commented on #38
Question: is this still an issue? Ignorant me just did the obvious thing with SBT 1.0.2 and sbt-ensime 2.0.1, and a few things work with Scala 2.12.3. If this is an issue, then maybe I should retest with Scala 2.11.

I do get some exceptions in logs though—actually, one stacktrace in two variants:

In `ensime-langserver.log`:
[code]

In `pc.stdout.log`:
[code]

[2017-10-11 09:42] dragos commented on #70
Thanks for the detailed report, you are right.

[2017-10-11 09:43] dragos commented on #38
That seems to be an issue with OrientDB, a dependency of Ensime. Can you try to delete the `.ensime_cache` directory?

[2017-10-12 08:29] Blaisorblade commented on #38
Oh, this time removing the cache fixed everything! (Done it already for a previous issue). "Change All occurrences" is still string-based, but that's not documented as working. So maybe this is just working?

[2017-10-12 09:48] dragos commented on #38
No, I don't think that's implemented. So whatever it is, it is VS Code's default.

[2017-10-12 10:35] Blaisorblade commented on #38
Good—can this be closed then or is Scala 2.12 still somehow unsupported?

[2017-10-12 10:37] dragos commented on #38
No, I think we should close this ticket.

[2017-10-12 10:37] #38 closed

[2017-10-13 09:56] dragos commented on #68
It might be a problem to report to the ensime/ensime-server project. It provides all intelligence in this plugin (we're a thin layer on top).

One thing that trips Ensime quite often is classes that are not placed in the "right" directory for their package (Java style). If that's the case, you need to refactor your code.

[2017-10-18 05:10] xuebingli commented on #70
@dragos if you're busy, I'm happy to put up a PR. The fix seems easy enough.

[2017-10-18 07:10] dragos commented on #70
That would be great, thank you!

[2017-10-21 18:07] vorner opened #72 "Running outside of vscode"
Good morning

Is there a hard dependency on vscode? I'd like to run the language server in another editor (nvim, in this case), but I haven't found a way how to start it. Would it be possible to provide instructions?

Thank you

[2017-10-23 07:47] #70 closed

[2017-10-24 12:55] tSte opened #73 "CPU spins and nothing happens"
Hey,

I have this installed with VSCode 1.17.2 on ArchLinux 64.

My ensime:
[code]

I ran `sbt ensimeConfig`, it created `.ensime` file and `.ensime_cache` directory.
It seems to me that everything is just fine (correct me if I am wrong)

However nothing happens in my VSCode (no code completion, errors, etc.). When I want to use it "actively" (e.g. jump to definition or something) then my CPU spin

[2017-10-24 13:00] alexarchambault commented on #72
@vorner The command that runs the server is built around [this line](https://github.com/dragos/dragos-vscode-scala/blob/41939453d8efa2ee020bc37236d04fc2b4f7d553/scala/src/extension.ts#L71). It roughly looks like
[code]

[2017-10-27 11:22] kggp1995 commented on #40
@gabfssilva you may experiment this by supporting the sbt within from the extension (native comms between sbt and the extension host?) and then activate the sbt plugins required to debug the active file?

[2017-10-31 16:43] tSte commented on #73
OK now... I have changed `scalaLanguageServer.heapSize` to `4G` and after some tome, it seems to work. Didn't consider simple GraphQL API server that large...

[2017-11-07 16:12] caente opened #74 "NoClassDefFoundError AnalyzerPlugins$AnalyzerPlugin"
I'm seeing this very strange error when ensime starts... the weirdest part is that it works perfectly well on atom... with the same conf in my global.sbt

[code]

Any suggestion on where should look further?

[code]

[2017-11-09 09:11] dragos commented on #74
I guess we only support 2.12 since #65

[2017-11-09 15:06] caente commented on #74
and that's the issue then?
I tried this
[code]
since my projects are **not** in scala 2.12, and cannot be, but got the same error.

does this mean that this plugin can only be used for projects on scala 2.12?

[2017-11-09 22:01] Empty2k12 opened #75 "Error: ENOENT: no such file or directory, open '/Users/username/dev/mynicelittleproject/project/target/active.json'"
Upon installation the ensime the plugin crashes 5 times and is then not executed by Visual Studio Code anymore.

[code]

[2017-11-10 01:44] laughedelic commented on #75
This is caused by a different extension: vscode-sbt-scala (it's mentioned in your log). The reason of the failure is that it tried to detect a running sbt server (which keeps that `active.json` file).

Most likely you are not using the right version of sbt. sbt server functionality has not been released publicly yet and this extension is experimental. If you still want to try it, run a beta versio

[2017-11-10 10:04] Empty2k12 commented on #75
@laughedelic I am sorry about this!

[2017-11-10 10:04] #75 closed

[2017-11-10 17:21] #73 closed

[2017-11-10 20:35] laughedelic commented on #75
No problem with me 😄

[2017-11-29 11:00] bernardocaldas opened #76 "Proxy authentication"
Proxy with authentication isn't working. Apparently the user and password specified on the http.proxy variable are not passed to Coursier.

[2017-12-01 13:26] kiviok commented on #69
and several minutes ago...
`Exception in thread "GraphService" java.lang.OutOfMemoryError: GC overhead limit exceeded`

[2018-01-04 15:16] sivakon opened #77 "In VSCode, how to utilize autocompletion from other external libraries specified in build.sbt?"
My `hello.scala` looks like this:
[code]

[code]

How to enable autocomplete when I tried to use external library dependencies?

[2018-01-04 16:01] dragos commented on #77
Did you generate the .ensime file via the [sbt-ensime](http://ensime.github.io/build_tools/sbt/) plugin? There's nothing else you need to do to enable completions.

[2018-01-04 23:28] sivakon commented on #77
Yes. sbt ensimeConfig in any the project root folder. I can attach what my .ensime looks like.

[2018-01-05 20:30] dragos commented on #77
Can you share the log files? Probably there's a crash somewhere...

[2018-01-06 03:36] sivakon commented on #77
There are no errors. Just the plugin is very slow.
ensime-langserver.log
[code]
pc.stdout.log
[code]

[2018-01-06 08:34] dragos commented on #77
To me it looks like it's crashes with out of memory (in the `.stdout.log` file):

[code]

Ensime depends on OrientDB, and that one is very memory hungry. Try to increase the memory size via ` "scalaLanguageServer.heapSize" : "768M"` in the workspace preferences file (see [here](https://marketplace.visualstudio.com/items?itemName=dragos.scala-lsp))

[2018-01-06 11:24] sivakon commented on #77
Unknown configuration setting

[code]

[2018-01-08 13:10] dragos commented on #77
It's just a warning, it's probably fine.

[2018-01-30 15:52] caente commented on #74
@dragos could you please clarify the above? what

actually mean? that the project must be using scala 2.12, or that there plugin must use scala 2.12 and there is something that I can do to make the project use it...?

[2018-01-31 10:38] dragos commented on #74
Sorry for not being clear. It's the latter: the project must be using Scala 2.12.

Support for 2.12 shouldn't be too hard, assuming we can cross-compile to 2.11, but won't have much time to dedicate to this right now. If anyone feels motivated, I'd be more than happy to merge a PR.

[2018-01-31 13:36] #74 closed

[2018-02-03 04:06] baierpa opened #78 "Loading...(vscode)"
Hi, sorry in advance - I may need some very basic help here, but I cannot seem to get this to work.
I am running visual studio code.

What I have done:
1. added `addSbtPlugin("org.ensime" % "sbt-ensime" % "2.1.0")` to `~/.sbt/1.0/plugins/plugins.sbt`
2. installed the scala language server plugin
3. in my project directory ran `sbt ensimeConfig` and currently have a `.ensime` file in my project dir

[2018-02-05 10:27] dragos commented on #78
Are you starting `code` in the right directory? I usually start it from the command line, after `cd`-ing into the project root dir. Do you see `.ensime` in the left panel?

[2018-02-05 14:27] baierpa commented on #78
Thanks for the suggestion - I didn't know to start `code` from the project root. Unfortunately still no luck though. the `.ensime` file is in the project's root (in the left panel) and it's fully populated with all of the project's info and correct directories. Should I be starting `code` with any flags set or anything like that?

[2018-02-20 16:45] ddalex commented on #78
I second this issue; I have the .ensime file generated, I start code in the current directory (`code .`), and when pressing F12 (or mousing over) it gets stuck at 'Loading...'

There is no significant output in Developer logs of VSCode...

[2018-02-22 11:18] dragos commented on #78
Anything in `pc.stdout.log`?

[2018-02-23 23:27] Isnor commented on #78
I had a lot of trouble getting this extension to work as well, but in my case it wasn't so bad. Can you post the output of
`env | grep JDK_HOME`
In my case, it's
`JDK_HOME=/usr/lib/jvm/java-8-openjdk`
If it isn't set, the extension probably won't work. I also incorrectly had it set to the /bin folder and that cause some ClassDefNotFound errors. If you want to try without logging out and back in,
[

[2018-03-10 14:35] keyboardDrummer opened #79 "LanguageServer component as a separate library"
Hi,

Could you move everything in "/languageserver/src" into a separate library? I know the code hasn't been written to be a library, but it's generic enough to be re-usable. Currently I'm just copy pasting your code for adding LSP support to [Miksilo](https://github.com/keyboardDrummer/Miksilo).

Cheers,
Remy

[2018-03-10 14:40] alexarchambault commented on #79
@keyboardDrummer It's already published as a library (`"com.github.dragos" %% "languageserver" % "0.2.1"`, for scala 2.12). The extension here fetches it [this way](https://github.com/dragos/dragos-vscode-scala/blob/41939453d8efa2ee020bc37236d04fc2b4f7d553/scala/src/extension.ts#L56) (via the `ensime-lsp` module, published as a library too).

[2018-03-10 15:30] dragos commented on #79
Thanks @alexarchambault, I think that's should be good enough for now.

[2018-03-10 15:30] #79 closed

[2018-03-30 02:58] roohi66 opened #81 "Poor instalation guid"
I read Readme file and Readme of the plugin in Market Place
so installed ensime then plugins from Market Place but nothing happend in vscode
I cant get any more information in web to how to install this plugin with ensime and ...
The readme file is totally confusing .... this is third time i tried to use ensime with vscode

[2018-03-30 11:10] dragos commented on #81
Did you run `sbt ensimeConfig`?

[2018-04-05 04:31] roohi66 commented on #81
`
➜  finance git:(master) ✗ sbt ensimeConfig
[info] Loading settings from plugins.sbt ...
[info] Loading global plugins from /Users/roohi/.sbt/1.0/plugins
[info] Loading settings from plugins.sbt ...
[info] Loading project definition from /Users/roohi/Desktop/Dropbox/SCALA/finance/project
[info] Loading settings from build.sbt ...
[info] Set current project to finance (in build file:/Users/roohi/D

[2018-04-05 06:17] roohi66 commented on #81
after I created new seed its works but I don't know why still have problem with current project
scalaVersion := "2.12.4"
sbt.version=1.1.1

[2018-04-12 13:38] olofwalker commented on #77
I get the warnings too, but after having added plenty of more memory (4G), it actually works, its not fast, but it gets there.

[2018-04-12 15:35] olofwalker opened #83 "Goto Defintion Closes editor view"
When I use `Goto defintion` and navigate to a definition, the editor view Im navigating from is closed, this prevents me from alt+tab back to that view, I could use `go back` but this still disrupts the order of views.

Is there something that I miss here ?

[2018-04-13 06:53] olofwalker commented on #83
What I missed:

"workbench.editor.enablePreview": false

Closing the ticket

[2018-04-13 06:53] #83 closed

[2018-04-13 12:10] JInchengLiuAu commented on #81
@roohi66 I also have this problem and I need to wait for almost 10 minutes, then I can code.

[2018-04-18 13:06] fommil opened #84 "should we archive and direct people to ensime?"
I meant to ask in person but totally forgot... now that all your protocol implementation has been migrated to ensime-server 3.0 and [there is interest to get it working](https://github.com/ensime/ensime-server/issues/1935) would it make sense to archive this project and/or send people there instead?

I suspect we may end up with the "scala bus" as proposed by @rorygraves which will move the LSP in

[2018-04-18 13:07] fommil commented on #84
It would also be great if all the vscode / atom plugin authors could agree with each other which ones should be on the marketplace but I have no idea what is there.

[2018-05-13 23:07] dyross opened #86 "How hard to implement goto symbol?"
In vscode, you can `command+t` to do fuzzy find based on symbol and it uses the same functionality as goto definition. How hard would this be to implement?

[2018-05-14 12:57] dragos commented on #86
I think Ensime offers similar functionality (though, you it needs an index if this is supposed to work at the workspace level as opposed to in-file only). If that's the case, it's not too hard:

- identify the Ensime API to call
- check and add if needed the language server protocol message/request types
- implement the message/request parts

It would make for a great contribution. :)

[2018-06-06 09:36] Lakret opened #87 "Crashes on OS X with FileSystemNotFoundException"
For some reason, langserver doesn't work on my MBP. I have an encrypted filesystem (APFS), maybe that's the problem?

From `ensime-langserver.log`:

[code]

[2018-06-11 07:27] dragos commented on #87
Sounds like a very good guess. I don't have an encrypted FS so I can't help, unfortunately.

[2018-06-12 21:41] fmerici opened #88 "Outline tree view support"
Are there plans for this extension to support an 'Outline tree view'
- Would be a very useful feature

Thanks

[2018-06-13 07:14] dragos commented on #88
As far as I know nobody is working on this feature. As it's often the case in open-source, the person who needs it the most will eventually implement it, or at least start it :)

[2018-07-08 19:34] phischul commented on #86
According to the readme there is a feature

Is this already implemented?

[2018-07-08 19:52] dragos commented on #86
Yes, go to symbol is already implemented. It's different from what the OP is asking, though: it works if you have the identifier in a source file that doesn't have errors (or at least, that particular identifier can be correctly resolved). Then, you can ctrl-click or press F12.

To to a global search in the whole project/classpath you'd need a lot more (if you're wondering why it's harder, it's be

[2018-07-08 20:16] phischul commented on #86
Okay, I'd like to help out on this.
Guess I'll start reading the VS Code documentation on implementing a LS to get a hang of this.
If you have other suggestions what I should check out let me know.

[2018-07-09 10:42] dragos commented on #86
I think the best way to start is:

- look at the existing code for [go to symbol](https://github.com/dragos/dragos-vscode-scala/blob/b8632f0c72628cf3f83c5267643b5192cd4ae081/ensime-lsp/src/main/scala/org/github/dragos/vscode/EnsimeLanguageServer.scala#L221). (it delegates to Ensime)
- check in the Ensime codebase how they implement workspace wide search. I think [this is the request to make](https

[2018-07-13 13:42] phischul commented on #86
I am a bit confused. The API call you mentioned isn't available in the 3.0 or 2.0 branch, right? So its also not available in the version specified in the dependencies.
If you wouldn't send the link to the specific tree I wouldn't have found it.

[2018-07-16 07:00] dragos commented on #86
You're right, I had an old checkout of the 2.0 branch, but this call was removed soon after. I'm not sure what's the current way to query this functionality, maybe @fommil could give us a hint?

In general, since the emacs client is the most complete ensime client, it's the place to look for API use examples.

[2018-07-24 09:09] Ddedalus opened #90 "EnsimeLangserver consumes too much resources"
Hi! I've been successfully using your extension for like 2 days building an Akka project with sbt. I've been trying to add some instrumentation to it and now, despite reboot and extension reinstall, as soon as I enable the extension, it goes on crazy, taking 1Gb of RAM and 100% of all CPU cores forever.
In the log I've found this at the end:
[code]

The problem doesn't occur on other Scala project

[2018-07-24 09:12] dragos commented on #90
Unfortunately Ensime is very resource hungry. 1GB is for sure way below what's needed, try giving it 4G at least.

[2018-07-24 09:20] Ddedalus commented on #90
Oh, I didn't limit it anyhow. It is just the size of a java process I observed.
Assuming it has to do with mem limit, how do I increase it?

[2018-07-24 09:23] dragos commented on #90
https://github.com/dragos/dragos-vscode-scala/tree/master/scala#configuration

[2018-07-24 09:34] dragos commented on #90
Glad to hear that!

[2018-09-01 13:01] #84 closed

[2018-09-19 03:09] shoorlyne opened #91 "Unresolved dependency issue."
I am seeing the following error when trying to run `sbt publishLocal`:

[code]

How can I get around this?

Thanks!

[2018-09-19 07:52] dragos commented on #91
Ah, I checked-in the [Hydra](www.triplequote.com) sbt-plugin. To get around this, please delete or comment out the contents of `project/hydra.sbt`

[2018-09-19 10:35] shoorlyne commented on #91
Thanks! Now I got past that point.

I am now seeing a new issue, when running `vsce package`:

[code]

The detailed log looks like:

[code]

[2018-09-21 12:03] dragos commented on #91
Sorry for all the trouble, indeed there was a problem with the build. I just pushed a commit that fixes is on my machine. Please let me know if you can build now.

[2018-09-25 15:30] PallasKat commented on #78
I also second the issue and in my case it's pretty bad: I've got the `Loading...` issue, and also the process is using all my computing resources and doesn't stop until I either kill it or stop `vscode`:
[code]
I try to let it run for a while hoping that was an indexing that is done only one time. However the memory usage seems constant (I extended it to 20g with `-Xmx20g` in the `.ensime` config

[2018-10-18 13:28] damienstanton commented on #81
I've run sbt ensimeConfig and the plugin does not seem to work at all. There are no errors, but also no autocompletion, no hover info, nothing at all.

Any ideas?

My environment is macOS 10.14, Scala 2.11.8, sbt 1.2.3

[2018-10-23 08:14] dragos commented on #81
It's only working with Scala 2.12.

[2018-10-23 13:59] dragos commented on #81
I'm sorry you wasted so much time. However, this is noted on the VS code marketplace [Setting up docs](https://marketplace.visualstudio.com/items?itemName=dragos.scala-lsp)

[2018-10-23 14:37] damienstanton commented on #81
No worries, thanks!

[2018-11-05 05:40] shoorlyne commented on #91
Build looks good now. Thanks!

[2018-11-05 05:40] #91 closed

[2018-11-05 05:55] shoorlyne opened #93 "Min memory for dragos."
This [issue](https://github.com/dragos/dragos-vscode-scala/issues/55) seems to suggest that the total memory required to run a dragos LS is 768MB (by coursier) + ~500MB (dragos) =1.3GB. Is that still the case?

I'd like to use dragos in my project, but our memory is a bit constrained. We can't afford to shell out 1.3GB memory for this feature. The amount of memory we can allocate for a LS is 500MB

[2018-11-05 10:05] dragos commented on #93
Memory requirements come from the underlying engine, [ensime](https://github.com/ensime/ensime). It's been bothering me for a while, but without a heavy rewrite I don't think it's possible. However, if your project is small enough you could just see what happens if you give it only 500M (I think that's on the very small side even for the Scala compiler itself, but you can try)

[2018-12-11 09:00] iokacha opened #94 "Multi folder workspace not working correctly"
First of all, thank you for your vscode extension!

I'm having auto completion issues (loading ...) when using multi-folder workspace.
FYI, The only way I get it to work is to run `sbt ensimeConfig` at the top folder in the workspace (`core`in my setting below )

Here is my simple workspace settings :
`{
    "folders": [
        {"path": "core"},
        { "path": "common"},
        { "path": "pro

[2018-12-12 03:18] egoarka commented on #40
any news?

[2018-12-12 08:23] dragos commented on #40
Not as far as I'm concerned, I don't know about the others in this thread. There seems to be a lot of interest, perhaps people can pool resources and get it started?

[2019-01-22 01:25] affanshahid opened #95 ""scalaLanguageServer.heapSize" is unrecognized"
The settings are not listed in the defaults and when added manually complain about being unrecognized.

I see this was maybe fixed in another issue?

VSCode: 1.30.2
Ext: 0.2.3

[2019-02-19 02:01] w-r-z-k opened #96 "ERROR org.github.dragos.vscode.EnsimeLanguageServer - Unknown notification CancelRequest(4)"
The plugin doesn't seem to work for me.  The hover always says "Loading ..." and no other features seem to work.  So I looked in the log.  I see these frequent errors:

`ERROR org.github.dragos.vscode.EnsimeLanguageServer - Unknown notification CancelRequest(4)
`

and also this one:

[code]

FWIW, my environment is:

[code]

[2019-03-16 01:22] borice opened #97 "Prevent log files from being generated in project folder?"
I'm noticing that this extension, when enabled in VSCode, creates two files in the current project folder:

Any way to prevent these files from being generated? (or at least have them be generated in some temp location)?

My environment:
VSCode 1.32.3
Scala Language Server 0.2.3

My Scala project uses sbt 1.2.8 with scala-2.12.8 and sbt-ensime 2.5.1  (i tried 2.6.1 also but same result).  OSX 10.1

[2019-03-18 12:25] SethTisue opened #98 "archive this repo (with appropriate README updates)?"
is this superseded by Metals now, or are we not to that point yet?

[2019-03-20 09:48] dragos commented on #97
Nope, there's no way currently. I'm happy to merge a PR to move them somewhere else though, but I don't have time to work on this in the near future.

[2019-06-05 00:19] Huxpro opened #99 "downloading play-functional fail with 416"
[code]

I have encounter this weird DownloadError when opening up this scala project for the first time.
Not sure if this is an issue of this plugin though.

[2019-06-06 09:40] poitou commented on #49
I am encountering the same issue... as well as a slight variation which is import of classes defined in java files that do not resolve even after opening the corresponding java file.

[2019-06-06 12:21] dragos commented on #49
This is probably an issue with Ensime and the presentation compiler. I suggest checking the Ensime issue tracker

[2019-07-08 18:53] SethTisue commented on #98
@dragos ping

[2020-08-02 18:45] KOLANICH opened #100 "Publish standalone packages to be used with Qt Creator"